@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="width:95%; margin:auto; margin-top:20px; padding:10px;">
    <h1>Hack for Her</h1>
    <p class="lead">Coding is for <strike>boys</strike> <u>EVERYONE</u>! </p>
    <p>Are you sick of not getting the kind of tech you want?! Create it yourself, becuase you can!</p>
    <p><a href="~/Instruction/Details/1" class="btn btn-primary btn-lg">Try Now &raquo;</a></p>

</div>

