@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="width:80%; margin:auto; margin-top:20px; padding:10px; background-color:darkorange;" >
    <h1>Learn to code</h1>
    <img src="~/Content/fire-icon-614x460.png" style="position:absolute; height:300px; left:900px; top:50px;"/>
    <p class="lead">Coding is for EVERYONE</u>! And today we're going to learn Javascript</p>
    <p>To learn how to code, we are going to plan a party today. Whose party? Yours naturally.</p>
    <p>You're graduating highscool! Congratulations!</p>
    <p>This tutorial will walk you through the fundamentals of javascript coding as you plan your graduation party.</p>
    <p><a href="~/Instruction/Details" class="btn btn-warning btn-lg">Try Now &raquo;</a></p>

</div>

