@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="width:95%; margin:auto; margin-top:20px; padding:10px;">
    <h1>Learn to code</h1>
    <p class="lead">Coding is for EVERYONE</u>! And today we're going to learn Javascript</p>
    <p>To learn how to code, we are going to plan a party today. Whose party? Yours naturally.</p>
    <p>You're graduating highscool! Congratulations!</p>
    <p>This tutorial will walk you through the fundamentals of javascript coding as you plan your graduation party.</p>
    <p><a href="~/Instruction/Details/1" class="btn btn-primary btn-lg">Try Now &raquo;</a></p>

</div>

