@{
    ViewBag.Title = "Home";
}

<div class="jumbotron" style="width:80%; margin:auto; margin-top:20px; padding:10px; background-color:darkorange;" >
    <h1>Learn to code</h1>
    <img src="~/Content/fire-icon-614x460.png" style="position:absolute; height:300px; left:900px; top:50px;"/>
    <p class="lead">Coding is for EVERYONE</u>! </p>
    <p>During this coding tutorial, you will plan a party. </p>
    <p>Whose party? Your's naturally.</p>
    <p>Learn Javascript fundamentals, while planning your graduation party.</p>
    <p><a href="~/Instruction/Details" class="btn btn-warning btn-lg">Try Now &raquo;</a></p>

</div>

