@model IgniteForHer.Models.Instruction

<style type="text/css">
    .important {
        color: red;
        font-weight: bold;
    }

    span.sample {
        color: green;
        font-weight: bold;
    }

    body {
        color: black;
        background-color: white;
    }
</style>

<h4>Chapter 1: What are Variables? </h4>
<p>You’re planning a graduation party and it’s time to choose the items for the party. </p>
<ul>
    <li>Find your own Vines or Pictures to design the ultimate party! You will need a DJ, music, decorations, dancers and a cake.</li>
    <li>For each item or picture you have chosen for update the appropriate variable:</li>
    <li style="list-style-type:none">
        <ul>
            <li>For example replace "http://www.tikiballoons.com/images/animatedballoons.gif" with the decorations you chose.</li>
            <li>Click the "Run Code" button to see how your code changes update the party setup!</li>
        </ul>
    </li>
    <li>When you get to the dancers variable, you are creating an Object. An object can contain multiple items. In this case, the first item ("top") is the image of dancers along the top, the second variable ("bottom") is the dancers on the bottom. Don't forget to "run code"!</li>
</ul>

<p> <span class="sample"> # Sample Code #</span></p>
<p> <span class="sample">//Update these variables with URLs to images</span></p>

<div style="overflow: auto;">

<pre style="font-family:monospace;">
<span style="color: blue;">var</span><span style="color: black;"> decorations = </span><span style="color: red;">"http://www.tikiballoons.com/images/animatedballoons.gif"</span><span style="color: black;">;</span>
<span style="color: blue;">var</span><span style="color: black;"> music  = </span><span style="color: red;">"https://archive.org/download/13.Clean/01.%20Welcome%20to%20New%20York.mp3"</span><span style="color: black;">;</span>
<span style="color: blue;">var</span><span style="color: black;"> dj  = </span><span style="color: red;">"C:/D/Ignite For Her/DJgirl.png"</span><span style="color: black;">;</span>
<span class="sample">//Update the year variable with the year you will be graduating</span>
<span style="color: blue;">var</span><span style="color: black;"> year = 2015;</span>
<span class="sample">//set the banner variable to be the string (or message) that you want the party banner to display </span>
<span style="color: blue;">var</span><span style="color: black;"> banner  = </span><span style="color: red;">"G R A D U A T I O N"</span><span style="color: black;">;</span>
<br />
<span class="sample"># Creating an object: choose the items that make up the group of dancers on the dance floor #</span>
<span style="color: blue;">var</span><span style="color: black;"> dancers = {</span>
    <span style="color: blue;">top: </span><span style="color: red;">"C:/D/Ignite For Her/alldancers.gif"</span><span style="color: black;">,</span>
    <span style="color: blue;">bottom: </span><span style="color: red;">"C:/D/Ignite For Her/dancer.gif"</span><span style="color: black;">,</span>
<span style="color: black;">};</span>
<br />
</pre>
</div>


